@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-neon: #ccff00;
  --color-purply: #110c29;
}

html{
  scroll-behavior: smooth;
  scroll-initial-target: nearest;
}

* {
  font-family: "DM Sans", sans-serif;
  /* background-color: #e2e1e67a; */
}

.swiper-pagination-bullet {
  width: 16px;
  height: 4px;
  border-radius: 5px;
}

.swiper-pagination-bullet-active {
  background: #4f46e5;
}
